.row
    canvas.col-sm-8(game-screen)
    .col-sm-4
        .panel.panel-info
            .panel-heading What's going on...
            .panel-body.nopadding
                ul.list-group.nopadding(ng-controller="EventsCtrl")
                    li.list-group-item(ng-repeat="event in events")
                        div(ng-if="event.type == 'kill'")
                            span.badge.pull-left.space-right {{event.time | date:'h:mm:ss a'}}
                            span.label(ng-style="{'background-color':'{{event.killerColor}}'}") {{event.killer}}
                            | &nbsp;killed 
                            span.label(ng-style="{'background-color':'{{event.victimColor}}'}") {{event.victim}}
                            | &nbsp;!
                        div(ng-if="event.type == 'joiner'")
                            span.badge.pull-left.space-right {{event.time | date:'h:mm:ss a'}}
                            span.label(ng-style="{'background-color':'{{event.color}}'}") {{event.name}}
                            | &nbsp;has joined us!
                        div(ng-if="event.type == 'leaver'")
                            span.badge.pull-left.space-right {{event.time | date:'h:mm:ss a'}}
                            span.label(ng-style="{'background-color':'{{event.color}}'}") {{event.name}}
                            | &nbsp;has left us...
.row
    div(ng-controller="ScoreControl")
        .col-sm-3(ng-repeat="score in scores")
            .scoreboard(ng-style="{'background-color':'{{score.color}}', 'color':'white', 'opacity':0.7}")
                .panel.text-center.nopadding(ng-style="{'color':'{{score.color}}'}"){{score.name}}
                hr
                .bigtext {{score.kill}} kills
                .pull-right {{score.win}} win / {{score.lose}} lose